#container1{
  width: 1200px;
  margin:auto;
  background: red;
}
#container2{
  width: 1200px;
  margin:auto;
  background: yellow;
}
#header{
  background-color: red;
  width: 50%;
  height: 80px;
  float: center;
}
#nav1{
  width: 1200px;
  text-align: center;
  background: red;
  padding: 1%;
  margin: 1.5%;
}
#blackline{
  width: 100%
  background: black;
  clear: both;
  padding-top: 1000px;
  margin-bottom: 5px;
}
#content{
float: left;
width: 40%
background: magenta;
}
#ad{
  float: left;
  width: 30px
  background: black;
}
