#container{
  width: 1200px;
  margin:auto;
  background: gray;
}
#header{
  background-color: red;
  width: 1200px;
  float: center;
}
#nav1{
  width: 1200px;
  text-align: center;
  background: red;
}
#blackline{
  width: 100%
  background: black;
}
#content{
float: left;
width: 40%
background: magenta;
}
